# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.area_internship_venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django local settings
*.sqlite3

# Static files : Only notebooks/ and scripts/ are tracked
# Ignore everything inside static
static/*
# But keep these directories
!static/notebooks/
!static/scripts/
# And keep their contents
!static/notebooks/**
!static/scripts/**


# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/

# Misc
.DS_Store

# License files
LICENSE
