<!--.dpcfam/index.html-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta language="en">
    <title>DPCFam</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            font-family: sans-serif;
        }
        main {
            flex: 1;
            padding: 20px;
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color: #f8f9fa;
        }
    </style>
</head>

<body>

<main>
    <h1>DPCFam</h1>
    <p>Welcome to DPCFam!</p>
</main>

    <footer>
        <div class="container">
            <p>&copy; 2026 DPCFam and DPCStruct Webapp | Area Science Park. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>